<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block title %}
   <title>REGISTER</title>
  {% endblock %}
{% block content %}
<center>
<h1>REGISTER</h1></center>
<center>
<form method="post" enctype="multipart/form-data" style="max-width:400px">
    {% csrf_token %}
  <div class="mb-3">
    <label class="form-label">Enter username</label>
    <input type="text" class="form-control"   name="u" placeholder="Enter username">

  </div>
     <div class="mb-3">
    <label class="form-label">Enter password</label>
    <input type="password" class="form-control" name="p" placeholder="Enter password">

  </div>
     <div class="mb-3">
    <label class="form-label">confirm password</label>
    <input type="password" class="form-control" name="cp"  placeholder="confirm password ">
         </div>
     <div class="mb-3">
    <label class="form-label">first name</label>
    <input type="text" class="form-control" name="f"  placeholder="enter first name">

  </div>
     <div class="mb-3">
    <label class="form-label">last name</label>
    <input type="text" class="form-control" name="l"  placeholder="enter last name">

  </div>
     <div class="mb-3">
    <label class="form-label">email</label>

      <input type="text" class="form-control" name="e"  placeholder="enter email " >
     </div>
    <div class="mb-3">
    <input type="submit" class="form-control" >

  </div>

</form></center>
{% endblock  %}

</body>
</html>